body {
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background: linear-gradient(#871212, #110866);
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}
h1 {
    color: white;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
#slot-machine {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin: 20px 0;
    width: 95%; 
    max-width: 450px; 
}
.row {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.cell {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    flex-shrink: 1; 
}
.cell img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}
button {
    background-color: #CC5252;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    margin: 8px;
    transition: background-color 0.3s;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: #BD4242;
}
#info {
    font-weight: bold;
    color: white;
    font-size: 1.1em;
    margin-bottom: 15px;
}
@media (max-width: 600px) {
	h1 {
    font-size: 20px;
    margin-bottom: 15px;
}
.cell {
	width: 70px;
    height: 70px;
    border-radius: 8px;
    gap: 5px;
}
@media (max-width: 350px) {
	.cell {
    width: 55px;
    height: 55px;
}
button {
	padding: 10px 15px;
	font-size: 14px;
		}
	}
}